# This file is required for the bitbucket pipeline and continuous testing.
# Install with pip:
#   pip install -r requirements.txt
numpy
matplotlib
pyyaml
oyaml
# pipreqs                   # Required for utilities.ContextInfo
GitPython                 # Required for utilities.ContextInfo
xmlrunner                 # Required for unit-testing
