# This file is required for the bitbucket pipeline and continuous testing.
# Install with pip:
#   pip install -r requirements.txt
numpy
matplotlib
pyyaml
oyaml
GitPython==2.1.9            # Required for utilities.ContextInfo
# xmlrunner==1.7.7            # Required for unit-testing
